flow.json
[{"id":"eddc265e.6b15c8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"a5607600.34b648","type":"inject","z":"eddc265e.6b15c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"message","payloadType":"str","x":120,"y":100,"wires":[["493de1bd.640e1"]]},{"id":"493de1bd.640e1","type":"debug","z":"eddc265e.6b15c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":140,"wires":[]},{"id":"7f74af26.d326","type":"ibmiot in","z":"eddc265e.6b15c8","authentication":"apiKey","apiKey":"aa52105f.6a83b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":260,"wires":[["75638086.e046c","bf656f6b.25264"]]},{"id":"75638086.e046c","type":"function","z":"eddc265e.6b15c8","name":"Temperature","func":"global.set(\"temperature\",msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":280,"wires":[["8ac70a96.3bd868","493de1bd.640e1"]]},{"id":"bf656f6b.25264","type":"function","z":"eddc265e.6b15c8","name":"Bpm","func":"global.set(\"bpm\",msg.payload.Bpm)\nmsg.payload=msg.payload.Bpm\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":440,"wires":[["e3716a9a.718028","493de1bd.640e1"]]},{"id":"8ac70a96.3bd868","type":"ui_gauge","z":"eddc265e.6b15c8","name":"","group":"e71d3df8.d279","order":1,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":300,"wires":[]},{"id":"e3716a9a.718028","type":"ui_gauge","z":"eddc265e.6b15c8","name":"","group":"e71d3df8.d279","order":2,"width":0,"height":0,"gtype":"gage","title":"Bpm","label":"units","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":440,"wires":[]},{"id":"cbea5154.b2935","type":"http in","z":"eddc265e.6b15c8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":520,"wires":[["18f24d02.e28e93"]]},{"id":"53e59036.03bab","type":"http response","z":"eddc265e.6b15c8","name":"","statusCode":"","headers":{},"x":630,"y":520,"wires":[]},{"id":"18f24d02.e28e93","type":"function","z":"eddc265e.6b15c8","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'bpm':global.get(\"bpm\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":520,"wires":[["53e59036.03bab"]]},{"id":"aa52105f.6a83b","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e71d3df8.d279","type":"ui_group","z":"","name":"Default","tab":"222ad8f8.35fcd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"222ad8f8.35fcd8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]