flows.json
[{"id":"d8d82f49.885cf","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"e83f39eb.f2b228","type":"debug","z":"d8d82f49.885cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":260,"wires":[]},{"id":"bbd3997b.48e328","type":"ibmiot in","z":"d8d82f49.885cf","authentication":"apiKey","apiKey":"97ec45e5.8283e8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":260,"wires":[["e83f39eb.f2b228","2f745fe7.1aea","ab26c6ef.3e3258","c29877a1.c164e8"]]},{"id":"ce30a52f.22a4b8","type":"ui_text","z":"d8d82f49.885cf","group":"6d0e8d5.6af3b74","order":7,"width":0,"height":0,"name":" empty slots","label":"Vacant slots","format":"{{msg.payload}}","layout":"col-center","x":630,"y":220,"wires":[],"info":"msg.payload=msg.payload.available_slots\nreturn msg;"},{"id":"2f745fe7.1aea","type":"function","z":"d8d82f49.885cf","name":"","func":"msg.payload=msg.payload.available_slots\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["ce30a52f.22a4b8"]]},{"id":"2666749c.72218c","type":"ibmiot out","z":"d8d82f49.885cf","authentication":"apiKey","apiKey":"97ec45e5.8283e8","outputType":"cmd","deviceId":"1234","deviceType":"NodeMCU","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":640,"y":400,"wires":[]},{"id":"d9b216e8.3564a8","type":"ui_text","z":"d8d82f49.885cf","group":"6d0e8d5.6af3b74","order":8,"width":0,"height":0,"name":"filled slots","label":"Filled slots","format":"{{msg.payload}}","layout":"col-center","x":620,"y":180,"wires":[]},{"id":"ab26c6ef.3e3258","type":"function","z":"d8d82f49.885cf","name":"","func":"msg.payload=msg.payload.filled_slots\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["d9b216e8.3564a8"]]},{"id":"d269f989.200fe8","type":"ui_text","z":"d8d82f49.885cf","group":"6d0e8d5.6af3b74","order":6,"width":0,"height":0,"name":"total","label":"Total slots","format":"{{msg.payload}}","layout":"col-center","x":610,"y":140,"wires":[]},{"id":"c29877a1.c164e8","type":"function","z":"d8d82f49.885cf","name":"","func":"msg.payload=msg.payload.total\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["d269f989.200fe8"]]},{"id":"81b7ad61.8fef6","type":"ui_button","z":"d8d82f49.885cf","name":"","group":"6d0e8d5.6af3b74","order":13,"width":0,"height":0,"passthru":false,"label":"Book a slot","tooltip":"","color":"","bgcolor":"Green","icon":"","payload":"{\"command\":\"book a slot\"}","payloadType":"json","topic":"","x":110,"y":400,"wires":[["2666749c.72218c"]]},{"id":"97ec45e5.8283e8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"6d0e8d5.6af3b74","type":"ui_group","z":"","name":"       Welcome to smart parking system!!","tab":"d6f1915f.65f44","order":1,"disp":true,"width":"8","collapse":false},{"id":"d6f1915f.65f44","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]